/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Remove default hyperlink styles */
a {
    text-decoration: none;
    color: inherit;
}

/* End of Reset CSS */
